body p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    width:230px;
    line-height:150%;
    margin: 0 auto;
   
}
body{
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
}
.card{
    margin: 10% auto;
    width:280px;
    height:400px;
    padding-bottom: 50px;
    border-radius: 15px;
    text-align: center;
    height: fit-content;
    background-color: hsl(0, 0%, 100%);
}
.imageCard{
    width: fit-content;
    border-radius: 15px;
    
    margin:30px auto;
}
.imageCard img{
    margin-top: 15px;
    width:250px;
    border-radius: 15px;
}
h3{
    font-weight: 700;
    width:250px;
    line-height:150%;
    margin: 15px auto;
    color:hsl(218, 44%, 22%);
   
}